Django==5.2.6
xhtml2pdf==0.2.16
reportlab==4.2.2
Pillow==10.4.0
pandas==2.2.3
openpyxl==3.1.5
twilio==9.2.4
requests==2.32.3
python-decouple==3.8
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
whitenoise==6.7.0